@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.nav-link {
		@apply text-white text-center  tracking-wider relative px-2 py-1 hover:scale-105 transition-all;
	}
	.nav-link.active {
		@apply font-bold before:content-[""] before:bg-white before:h-[1px] before:absolute before:top-full before:w-[70%] before:left-[15%];
	}
}
* {
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

body {
	margin: 0 !important;
}
p {
	margin: 0;
}
ul,
li {
	padding: 0;
	text-decoration: none;
	list-style: none;
}

h1,
h2 {
	margin: 0;
}

.w-1-2 {
	width: 50%;
}
.w-1-3 {
	width: calc((1 / 3) * 100%);
}
.mx-auto {
	margin: 0 auto;
}

.no-decoration {
	text-decoration: none;
}

.error-message {
	color: red;
	font-weight: 500;
}
.hidden {
	display: none;
	visibility: hidden;
}

.pointer {
	cursor: pointer;
}

.firstHeading {
	font-weight: 900;
}

/*Content box for google map*/
.content-box {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.site-image {
	width: 200px;
	height: 200px;
}
.site-image img {
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: cover;
}
.content-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 50%;
	gap: 0.5rem;
}

.scale-1 {
	transform: scale(1.1);
}
